<header>
  <div class="navbar-container">
    <!-- Clickable Logo linking to home -->
    <a href="/template.html">
      <img id="logo" src="" alt="JAL Logo" class="logo">
    </a>
    <!-- Navigation links -->
    <nav>
      <ul class="nav-links">
        <li><a href="/pages/feed.html">Dashboard</a></li>
        <li><a href="/pages/live-streams.html">Live Streams</a></li>
        <li class="dropdown">
          <a href="#">Leaderboard</a>
          <div class="dropdown-content">
            <a href="/pages/leaderboard.html">View Full Leaderboard</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
